@import url('https://fonts.googleapis.com/css2?family=Domine&family=Montserrat:wght@100&display=swap');

body {
  background-color: #6f23ff;
  font-family: 'Montserrat', sans-serif;
  margin: 50px 100px 50px 100px;
}
